[submodule "SourceAssets"]
    path = SourceAssets
    url = ../KatanaSourceAssets
[submodule "Katana/Assets/Modules/Unity-URP-Volumetric-Light"]
	path = Katana/Assets/Modules/Unity-URP-Volumetric-Light
	url = ../../nnra6864/Unity-URP-Volumetric-Light
[submodule "Modules/ArtificeToolkit"]
	path = Modules/ArtificeToolkit
	url = ../../nnra6864/ArtificeToolkit
[submodule "Modules/bgTools-playerPrefsEditor"]
	path = Modules/bgTools-playerPrefsEditor
	url = ../../nnra6864/bgTools-playerPrefsEditor
[submodule "Modules/NnUnityUtils"]
	path = Modules/NnUnityUtils
	url = ../../nnra6864/NnUnityUtils
[submodule "Modules/NnUnityEasings"]
	path = Modules/NnUnityEasings
	url = ../../nnra6864/NnUnityEasings
[submodule "Modules/NnUnityTextUtils"]
	path = Modules/NnUnityTextUtils
	url = ../../nnra6864/NnUnityTextUtils
[submodule "Modules/nvim-unity"]
	path = Modules/nvim-unity
	url = ../../nnra6864/nvim-unity
[submodule "Modules/Unity-URP-Volumetric-Light"]
	path = Modules/Unity-URP-Volumetric-Light
	url = ../../nnra6864/Unity-URP-Volumetric-Light
[submodule "Modules/UnityCodePreview"]
	path = Modules/UnityCodePreview
	url = ../../nnra6864/UnityCodePreview
[submodule "Modules/UnityCustomToolbar"]
	path = Modules/UnityCustomToolbar
	url = ../../nnra6864/UnityCustomToolbar
[submodule "Modules/UnityFastScriptReload"]
	path = Modules/UnityFastScriptReload
	url = ../../nnra6864/UnityFastScriptReload
[submodule "Modules/UnitySceneManipulator"]
	path = Modules/UnitySceneManipulator
	url = ../../nnra6864/UnitySceneManipulator
[submodule "Modules/NnUnityTextureRemapper"]
	path = Modules/NnUnityTextureRemapper
	url = ../../nnra6864/NnUnityTextureRemapper
[submodule "Modules/ZLinq"]
	path = Modules/ZLinq
	url = ../../nnra6864/ZLinq
[submodule "Modules/UnityAssetUsageDetector"]
	path = Modules/UnityAssetUsageDetector
	url = ../../nnra6864/UnityAssetUsageDetector
[submodule "Modules/UnityUIEffect"]
	path = Modules/UnityUIEffect
	url = ../../nnra6864/UnityUIEffect
[submodule "Modules/UnityHierarchyDecorator"]
	path = Modules/UnityHierarchyDecorator
	url = ../../nnra6864/UnityHierarchyDecorator
[submodule "Modules/Unity-Unified-Universal-Blur"]
	path = Modules/Unity-Unified-Universal-Blur
	url = ../../nnra6864/Unity-Unified-Universal-Blur
[submodule "Modules/unity-mulligan-renamer"]
	path = Modules/unity-mulligan-renamer
	url = ../../nnra6864/unity-mulligan-renamer
