[submodule "SourceAssets"]
	path = SourceAssets
	url = ../KatanaSourceAssets

[submodule "Katana/Assets/Modules/NnUtils"]
	path = Katana/Assets/Modules/NnUtils
	url = ../../nnra6864/NnUtils

[submodule "Katana/Assets/Modules/nvim-unity"]
	path = Katana/Assets/Modules/nvim-unity
	url = ../../nnra6864/nvim-unity
