[submodule "SourceAssets"]
    path = SourceAssets
    url = ../KatanaSourceAssets

[submodule "Katana/Assets/Modules/NnUtils"]
    path = Katana/Assets/Modules/NnUnityUtils
    url = ../../nnra6864/NnUnityUtils

[submodule "Katana/Assets/Modules/nvim-unity"]
    path = Katana/Assets/Modules/nvim-unity
    url = ../../nnra6864/nvim-unity

[submodule "Katana/Assets/Modules/CustomToolbar"]
    path = Katana/Assets/Modules/UnityCustomToolbar
    url = ../../nnra6864/UnityCustomToolbar

[submodule "Katana/Assets/Modules/UnityCodePreview"]
    path = Katana/Assets/Modules/UnityCodePreview
    url = ../../nnra6864/UnityCodePreview

[submodule "Katana/Assets/Modules/UnitySceneManipulator"]
    path = Katana/Assets/Modules/UnitySceneManipulator
    url = ../../nnra6864/UnitySceneManipulator

[submodule "Katana/Assets/Modules/UnityTextureRemapper"]
    path = Katana/Assets/Modules/UnityTextureRemapper
    url = ../../nnra6864/UnityTextureRemapper
[submodule "Katana/Assets/Modules/UnityFastScriptReload"]
	path = Katana/Assets/Modules/UnityFastScriptReload
	url = ../../nnra6864/UnityFastScriptReload
[submodule "Katana/Assets/Modules/Unity-URP-Volumetric-Light"]
	path = Katana/Assets/Modules/Unity-URP-Volumetric-Light
	url = ../../nnra6864/Unity-URP-Volumetric-Light
[submodule "Modules/ArtificeToolkit"]
	path = Modules/ArtificeToolkit
	url = ../../nnra6864/ArtificeToolkit
[submodule "Modules/bgTools-playerPrefsEditor"]
	path = Modules/bgTools-playerPrefsEditor
	url = ../../nnra6864/bgTools-playerPrefsEditor
[submodule "Modules/NnUnityUtils"]
	path = Modules/NnUnityUtils
	url = ../../nnra6864/NnUnityUtils
[submodule "Modules/UnityTextUtils"]
	path = Modules/UnityTextUtils
	url = ../../nnra6864/UnityTextUtils
[submodule "Modules/NnUnityEasings"]
	path = Modules/NnUnityEasings
	url = ../../nnra6864/NnUnityEasings
